Django==6.0.1
psycopg2-binary==2.9.10
python-decouple==3.8
Faker==21.0.0
pandas==2.2.3
requests==2.31.0
djangorestframework==3.14.0
reportlab==4.0.7
openpyxl==3.1.1
langchain==0.1.9
langgraph==0.0.35
langchain-openai==0.0.7
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
