{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales</title>
    <link rel="stylesheet" href="{% static 'sales/css/sales.css' %}">
  </head>
  <body>
    <main>
      <h1>Sales</h1>
      <div>
        <input id="q" placeholder="Search..." />
        <button id="search">Search</button>
      </div>
      <div id="results">Loading...</div>
    </main>

    <script src="{% static 'sales/js/sales.js' %}"></script>
  </body>
</html>
